@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<br />
<br />
<section>
    <div class="row d-flex justify-content-center col-12">
        <div class="col-4 border border-primary rounded m-20">
            <form id="account" method="post" class="py-5">
                <div class="d-flex justify-content-center">
                    <i class="bi bi-door-open ms-icon-big text-primary"></i>
                </div>
                <div class="d-flex justify-content-center">
                    <h1 class="h3 mb-3 font-weight-normal">Login </h1>
                    <div asp-validation-summary="All" class="text-danger"></div>
                </div>
                <div class="form-group ">
                    <input asp-for="Input.Email" class="form-control" placeholder="Email address" required autofocus />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group ">
                    <input asp-for="Input.Password" class="form-control" placeholder="Password" required />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-lg btn-primary btn-block">Sign in</button>
                </div>

                <div class="d-flex justify-content-center">
                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">
                        <i class="bi bi-person-plus ms-icon-big" data-toggle="tooltip" title="Register new user"></i>
                    </a>
                </div>              
            </form>
        </div>        
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
